In [1]:
import pandas as pd
import numpy as np

In [2]:
filename = '../data/reed_uk.csv'
dtypes = {'category': str, 
          'city': str,
          'company_name': str,
          'geo': str,
          'job_board': str,
          'job_description': str, 
          'job_requirements': str, 
          'job_title': str, 
          'job_type': str,
          'post_date': str,
          'salary_offered': str,
          'state': str
         }
df = pd.read_csv(filename, dtype = dtypes, )

In [4]:
print(df.columns)
print(100*'-')
print(df.isnull().any())
print(100*'-')
print(df.head())

Index(['category', 'city', 'company_name', 'geo', 'job_board',
       'job_description', 'job_requirements', 'job_title', 'job_type',
       'post_date', 'salary_offered', 'state'],
      dtype='object')
----------------------------------------------------------------------------------------------------
category            False
city                False
company_name        False
geo                 False
job_board           False
job_description     False
job_requirements     True
job_title           False
job_type            False
post_date           False
salary_offered      False
state                True
dtype: bool
----------------------------------------------------------------------------------------------------
        category            city                company_name geo job_board  \
0  catering jobs       Chudleigh             Haulfryn Group   uk      reed
1       law jobs         Swindon                       Reed   uk      reed
2   factory jobs         Norfolk  Swanstaff Recruitment Ltd   uk      reed
3       law jobs  Hurstpierpoint         Castles Solicitors   uk      reed
4   factory jobs   Hertfordshire          Marketplace Group   uk      reed

                                     job_description  \
0   Apply now New opportunity not to be missed! H...
1   Apply now This role requires an experienced s...
2   Apply now Job Title: Warehouse personLocation...
3   Apply now Castles Solicitors are looking for ...
4   Apply now International Pharmaceutical Manufa...

                                    job_requirements  \
0                                                NaN
1                                                NaN
2                                                NaN
3   Required skills Admin Case Management Corresp...
4                                                NaN

                           job_title                           job_type  \
0                        Commis Chef               Permanent, full-time
1          Corporate Legal Secretary               Permanent, full-time
2                   Warehouse Person               Permanent, full-time
3  Legal Secretary / Admin Assistant  Permanent, full-time or part-time
4  Category Planner - Pharmaceutical               Permanent, full-time

   post_date                           salary_offered               state
0  3/12/2018                       £18,323 per annum                Devon
1   3/8/2018             £18,000 - £22,000 per annum            Wiltshire
2  2/27/2018                    Salary not specified          East Anglia
3  2/21/2018   £15,000 - £17,000 per annum, pro-rata          West Sussex
4   3/1/2018             £37,000 - £45,000 per annum   South East England

In [13]:
print(df['category'].value_counts())
# Adequate number of items to use

health jobs                           1930
education jobs                        1898
it jobs                               1890
logistics jobs                        1885
construction property jobs            1859
engineering jobs                      1858
accountancy jobs                      1856
sales jobs                            1855
accountancy qualified jobs            1836
social care jobs                      1823
admin secretarial pa jobs             1799
finance jobs                          1793
factory jobs                          1755
recruitment consultancy jobs          1747
motoring automotive jobs              1578
retail jobs                           1559
customer service jobs                 1548
catering jobs                         1536
law jobs                              1535
marketing jobs                        1463
other jobs                            1452
hr jobs                               1366
banking jobs                          1097
science jobs                          1071
purchasing jobs                       1045
fmcg jobs                             1018
graduate training internships jobs    1003
leisure tourism jobs                   954
charity jobs                           939
media digital creative jobs            915
estate agent jobs                      905
general insurance jobs                 854
strategy consultancy jobs              785
security safety jobs                   660
energy jobs                            650
training jobs                          161
apprenticeships jobs                   122
Name: category, dtype: int64

In [15]:
print(df['city'].value_counts())
# Adequate number of items to use

London                          4349
Manchester                      1283
Central London                   997
City of London                   943
Birmingham                       931
Bristol                          881
Leeds                            877
City Of London                   687
West London                      636
South West London                493
Reading                          483
Glasgow                          478
East London                      455
Milton Keynes                    445
Cambridge                        422
Edinburgh                        416
Sheffield                        410
Liverpool                        399
South East London                377
Coventry                         336
Nottingham                       334
Leicester                        327
Southampton                      313
Swindon                          296
Newcastle Upon Tyne              292
Oxford                           292
Northampton                      291
Cardiff                          291
North London                     282
Guildford                        268
                                ...
Feckenham                          1
Beckington                         1
Lancing Business Park              1
Sarisbury Green                    1
Lufton Trading Estate              1
Woolpit                            1
Kenley                             1
Park Gate                          1
Killingworth                       1
Eston                              1
Earlstrees Industrial Estate       1
Great Witchingham                  1
Tameside                           1
Astmoor Industrial Estate          1
Weston-on-the-Green                1
Hambrook                           1
Norcott Brook                      1
Eynsham                            1
Tavistock                          1
Raunds                             1
Clyst Honiton                      1
Newdigate                          1
Hailsham Road                      1
Perry Barr                         1
Hexham                             1
Gleadless                          1
St. Pancras                        1
Bermuda Park                       1
Brent                              1
Longthorns                         1
Name: city, Length: 2918, dtype: int64

In [42]:
print(df['post_date'].value_counts())
# Numerical values here. Take advantage

3/7/2018      8472
3/12/2018     7503
2/27/2018     7090
3/8/2018      6464
2/28/2018     4081
3/6/2018      3085
3/9/2018      2215
2/26/2018     2098
3/2/2018      2024
3/5/2018      1203
3/1/2018       900
2/23/2018      745
3/11/2018      616
2/22/2018      521
3/3/2018       405
3/4/2018       392
3/10/2018      270
2/19/2018      245
2/20/2018      196
2/21/2018      193
2/15/2018      154
2/7/2018       132
2/16/2018      132
2/14/2018       93
2/9/2018        72
2/1/2018        62
2/8/2018        58
2/2/2018        54
1/31/2018       54
1/30/2018       52
              ...
2/5/2018        32
1/29/2018       17
2/18/2018       16
1/3/2018        15
2/17/2018       15
2/3/2018         7
2/10/2018        6
1/5/2018         3
2/11/2018        3
1/26/2018        2
1/16/2018        2
1/4/2018         2
1/17/2018        2
1/24/2018        2
1/19/2018        2
1/9/2018         2
1/18/2018        1
1/8/2018         1
12/21/2017       1
12/18/2017       1
12/28/2017       1
1/25/2018        1
2/4/2018         1
8/31/2017        1
1/22/2018        1
11/30/2017       1
9/21/2017        1
1/15/2018        1
1/11/2018        1
1/10/2018        1
Name: post_date, Length: 66, dtype: int64

In [18]:
print(df['job_title'].value_counts())
# Too much variance

Administrator                                                                 162
Customer Service Advisor                                                      145
Management Accountant                                                         139
Warehouse Operative                                                           131
Recruitment Consultant                                                        120
Buyer                                                                         111
Account Manager                                                               111
Care Assistant                                                                111
Vehicle Technician                                                            108
Support Worker                                                                107
Sales Executive                                                               102
Accounts Assistant                                                            101
Finance Manager                                                                99
HR Administrator                                                               94
Project Manager                                                                89
Trainee Recruitment Consultant                                                 88
Maintenance Engineer                                                           87
Graduate Management Trainee                                                    85
Credit Controller                                                              80
Assistant Manager                                                              80
Paraplanner                                                                    76
Labourer                                                                       75
HR Advisor                                                                     72
Service Advisor                                                                72
HR Manager                                                                     70
Production Operative                                                           70
Cleaner                                                                        68
Business Development Manager                                                   68
Purchase Ledger Clerk                                                          67
Supervisor                                                                     67
                                                                             ...
Business Analyst - Software / Databases - London - Â£50k - German Speaking      1
Science Graduate - Management - Crawley                                         1
IT Program Manager                                                              1
Class 1 Drivers                                                                 1
Learning Support Assistant Job - Merton                                         1
Professional Temps                                                              1
SSSTS - Site Supervisor - Manchester                                            1
Internal Sales Executive Graduate - Information Sales                           1
Tax Advisor                                                                     1
Audit Senior - Top 30 Firm                                                      1
Business Intelligence Consultant                                                1
Trainee Lettings Negotiator, Sloane Square!                                     1
National Catering Manager                                                       1
Skin Analysis Specialist / Beautician (6 Months)                                1
Senior Customer Services Executive                                              1
Support Worker - Rushmere Ipswich - full time & part time                       1
Concrete Workers / Production Operatives                                        1
Finance Business Analyst - Insurance London                                     1
Compliance Assistant (Part-Time)                                                1
Key Account Manager - South                                                     1
CUSTOMER SERVICE EXECUTIVE                                                      1
FM Manager with NEBOSH (Logistics Distribution) Based Solihull                  1
Java Developer Multi-threading                                                  1
Senior Events Consultant - Tunbridge Wells                                      1
Van Driver / Sales Assistant - Kensington                                       1
Specialist Recruitment Consultants - Essex                                      1
Project Manager Power Electronics                                               1
Senior Practitioner - Child Focused and Ethical Fostering Agency                1
Researcher/Resourcer/Sales Navigator - But no sales calls!                      1
Teacher of DT / RM                                                              1
Name: job_title, Length: 29155, dtype: int64

## Modules
- posted -> category: See if there is a distribution respect with time
- city -> distribution: Check a 3d map how jobs are distributed
- Category distribution: Pie chart to show category distribution
- Job searcher: Small searcher using scikit-learn

#### Extra
- Add latitude and longitude to database. Eliminate some columns not used. Create a new csv file (Lower weight).
- Transform post_date type